.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 1px solid lightgray;
}

.title {
  color: darkcyan;
}

.description {
  margin: 0;
  font-size: 1rem;
  color: gray;
}